/* General styles */

html {
  font-size: 16px;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 0;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.2s;
  transform: scale(1);
}

a:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.1);
}

.menu-item-icon::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("path/to/icon");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 10px 0;
  }

  a {
    display: block;
    margin: 5px;
    padding: 10px 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}



/* Main styles */

main {
  background-color: lightgreen;
  padding-top: 0rem;
}

section {
  padding: 2rem;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

section ul {
  list-style-type: disc;
  margin-left: 1rem;
}

section ul li {
  margin-bottom: 0.5rem;
}

section p {
  font-size: 1.2rem;
  line-height: 1.5;
}
/* 
#about {
} */

#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

#skills li {
  width: calc(50% - 0.5rem);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

#experience ul li {
  margin-bottom: 2rem;
}

#experience p {
  font-size: 1.2rem;
  line-height: 1.5;
}

#experience h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

#certificates {
  background-color: rgb(0, 34, 128);
}

.certificate {
  margin-bottom: 2rem;
  text-align: center;
}

.certificate img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 1rem;
}

.certificate h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.certificate p {
  font-size: 1.2rem;
  line-height: 1.5;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  }
  
  #social-media {
  margin-right: 50px;
  }
  
  .social-media-list {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  
  .social-media-list li {
  margin-bottom: 10px;
  }
  
  .social-media-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  }
  
  .social-media-list li a i {
  margin-right: 10px;
  font-size: 1.2rem;
  }
  
  .old-footer {
  text-align: right;
  }
